<template>
  <div>
    <article
      @click="displayResponse(article)"
      :class="{current: article.isActive}"
      class="article"
      v-for="article in articles"
      :key="article.id"
    >
      <h2 class="article__question">{{ article.question }}</h2>
      <div class="article__response">
        <p>{{ article.response }}</p>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: "QuestionResponse",
  data() {
    return {
      articles: [
        {
          id: 1,
          question:
            "Je souhaite bénéficier d’une assistance et/ou déclarer un sinistre Habitation/Auto. Quel numéro dois-je contacter?",
          response:
            "Pour bénéficier d’une assistance Auto ou déclarer un sinistre, appelez le : 0980 986 986. Pour bénéficier d’une assistance Habitation ou déclarer un sinistre, appelez le : 0980 986 986",
          isActive: false
        },
        {
          id: 2,
          question:
            "Quels sont les documents nécessaires pour ouvrir un compte ?",
          response:
            "Pour ouvrir un compte, rendez-vous dans l’agence la plus proche de chez vous. Il vous faudra vous munir d’ une pièce d’identité, un justificatif de domicile et votre dernier avis d’imposition. Pour ouvrir un compte supplémentaire,  il vous suffit d’en faire la demande auprès de votre conseiller. Pour ouvrir un compte à vos enfants, seuls le livret de famille et 1 attestation d’hébergement vous seront demandés",
          isActive: false
        },
        {
          id: 3,
          question:
            "Ma carte bleue arrive à échéance. Comment en obtenir une nouvelle ?",
          response:
            "Le renouvellement de votre carte se fait automatiquement. Votre agence gestionnaire se rapprochera naturellement de vous pour vous informer de l’arrivée de la nouvelle carte bleue. Elle sera à votre disposition environ deux semaines avant la date d’échéance de l’ancienne.",
          isActive: false
        }
      ]
    };
  },

  methods: {
    displayResponse(_article) {
      //Toggle class current depending of isActive value (true or false)
      _article.isActive = !_article.isActive;

      //Close others opened questions
      this.articles.forEach(element => {
        //COmpare current article id with others article id
        //We set set isActive to false for id witch dont match

        // element.isActive = element.id === _article.id;
        if (element.id !== _article.id) {
          element.isActive = false;
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.article {
  border-top: 1px solid #ececec;

  &.current &__response {
    display: block;
  }

  &.current &__question::after {
    transform: rotate(90deg);
  }

  &__question {
    padding: 50px;
    margin: 0;
    font-size: 1.5rem;
    color: #e74c3c;
    cursor: pointer;
    position: relative;

    &::after {
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      content: "";
      width: 27px;
      height: 15px;
      background: url("../assets/images/arrow.png");
      transition: all linear 0.25s;
      will-change: transform;
    }
  }

  &__response {
    background: #ececec;
    overflow: hidden;
    transition: height ease-in-out 0.3s;

    display: none;

    p {
      font-family: "Roboto";
      color: #919191;
      line-height: 150%;

      padding: 30px 50px;
    }
  }
}
</style>
