<template>
  <div class="container">
    <QuestionResponse></QuestionResponse>
  </div>
</template>

<script>
import QuestionResponse from "./components/QuestionResponse.vue";

export default {
  name: "App",
  components: {
    QuestionResponse
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
}

.container {
  width: 960px;
  margin: 0 auto;
}
</style>
